.container {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-around; 
}

.zakaz{
    color:#FF583E;
    margin: 0 auto;
    /* margin-left: 100px; */
    font-size: 30px;
    border-bottom: 3px solid #2B4241;;
    width: 1175px;
    margin-bottom: 50px;
    margin-top: 20px;
    justify-content: center;
}

.left{
    width: 550px;
    height: 800px;
    margin-right: 100px;
    box-shadow: 0 0 10px rgb(148, 148, 151);
    border-radius:30px;
    padding-left: 20px;
}

.btnOrder {
    color: white;
    border: 1px solid blue;
    background-color: blue;
    margin-right: 10px;
    margin-left: 100px;
    font-size: 20px;
    margin-top: 20px;
}


.info {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid blue;
    margin-bottom: 10px;
    margin-left: 20px;
}

.info p{
    margin-top: 20px;
    margin-left: 10px;
}

.right {
    width: 550px;
    box-shadow: 0 0 10px rgb(148, 148, 151);
    border-radius:30px;
    padding-left: 20px;
    padding-top: 20px;
    /* background-color:#2B4241; */
}

.input1{
    width: 400px;
    height: 25px;
    padding-left: 10px;
    /* border:none; */
    border: 1px solid #2B4241;
    background-color:white;
    border-radius:12px;
}

.first, .second,.typeOrder2, .city1, .street, .address, .house, .korpus, .addInfo, .pay{
    display: flex;
    height: 50px;
    align-items: center;
    
}

.inputStreet, .korpus{
    width: 120px;
    margin-left: 30px;
    padding-left: 10px;
    width: 110px;
}

.checkBox{
    width: 20px;
    height: 20px;
    margin-right: 30px; 
}

.lLeft{
    margin-right: 70px;
}

.name {
    margin-right: 45px;
}
.phone{
    margin-right: 15px;
}

.typeOrder{
    margin-left: 20px;
}
.city{
    margin-right: 45px;
}
.stree1{
    margin-right: 43px;
}

.city2, .street2{
    border:1px solid black;
    width: 400px;
    height: 30px;
    border-radius: 12px;
}

.inputStreet{
    margin-left: 52px;
    margin-right: 57px;
    border: 1px solid #2B4241;  
    border-radius:12px;
    height: 25px;
}

.inputKorpus{
    margin-left: 20px;
    width: 110px;
    border: 1px solid #2B4241;  
    border-radius:12px;
    height: 25px;
    padding-left: 10px;
}

.inputOffice{
    margin-left: 23px;
    margin-right: 56px;
    width: 110px;
    border: 1px solid #2B4241;  
    border-radius:12px;
    height: 25px;
    padding-left: 10px;
}

.inputPorch{
    margin-left: 16px;
    width: 110px;
    border: 1px solid #2B4241;  
    border-radius:12px;
    height: 25px;
    padding-left: 10px;
}

.inputFloor{
    margin-left: 43px;
    margin-right: 58px;
    width: 110px;
    border: 1px solid #2B4241;  
    border-radius:12px;
    height: 25px;
    padding-left: 10px;
}

.inputPhone{
    margin-left: 8px ;
    width: 110px;
    border: 1px solid #2B4241;  
    border-radius:12px;
    height: 25px;
    padding-left: 10px;
}

.inputGet{
    margin-left: 15px;
    margin-right: 5px;
    width: 110px;
    border: 1px solid #2B4241;  
    border-radius:12px;
    height: 25px;
    padding-left: 10px;
}

.inputTime{
    margin-left: 107px;
    margin-right: 5px;
    width: 110px;
    border: 1px solid #2B4241;  
    border-radius:12px;
    height: 25px;
    padding-left: 10px;
}
.inputDopInfo  {
    width: 229px;
    height: 30px;
    border-radius:12px;
    border: 1px solid #2B4241; 
    padding-left: 10px;
}

.dopInfo{
    margin-right: 20px;
}

.typePay{
    margin-right: 19px;
}
.total{
    margin-left:10px;
    width: 340px;
    height: 30px;
    border-radius:12px;
    border: 1px solid #2B4241;
    padding-left: 10px;
}

.condition{
    margin-left: 127px;
    /* margin-top: -18px; */
    width: 380px;
    line-height: 1;
    font-size: 12px;
}

.checkBox2{
    height: 20px;
    margin-left: 130px;
}


.btnOrder{
    padding: 13px 60px;
    color: white;
    border: 1px solid #FF583E;
    background-color: #FF583E;
    border-radius: 30px;
    font-size: 14px;
    margin-left: 320px;
    margin-top: 4px;
}

.city3 {
    width: 363px;
    height: 30px;
    border-radius:12px;
}

table {
   
    margin-bottom: 20px;
}


td {
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
}

