
.main{
    justify-content: center;
    display: flex;
    height: 500px;
}

.text{
    width: 400px;
    margin: 144px 135px 0 0;
    font-family: 'Roboto', sans-serif;
}


.textP{
    font-size: 36px;
    color:#254F4C;
    font-weight: 900;
    line-height: 42px;

}

p{
    font-size: 16px;
    font-weight: 400;
    color:#1D3130;
    line-height: 23px;
}

.mainImg{
    margin-top: 65px;
}

.btn {
    padding: 13px 35px;
    color: white;
    border: 1px solid #FF583E;
    background-color: #FF583E;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}

.arrow2{
    margin-left: 5px;
}

