@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Roboto:wght@100;400;700&display=swap');
header {
    display: flex;
    align-items:center;
    height: 45px;
    margin-left: 325px;
    
}

 header .Logo {
    height: 100px;
}

.logo-header {
    height: 45px;  
}

nav, ul, a {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #1D3130;
    padding-top: 0;
}

.navbar a:hover{
    color:red;
}

.glavnaya {
    margin-left: 125px;
}

.phone {
    height: 14px;
    margin-left: 40px;
}

.cart {
    height: 14px;
    margin-left: 40px;
}

.num {
    color: red;
    font-weight: 700;

}

