.mainAbouUs{
    display: flex;
}

.abouUs th{
    border: 1px solid black;
    /* padding: 10px 32px; */
}

.background{
    background-color:#363740;
    color: white;
    padding: 10px;
}

.abouUs td{
    border: 1px solid black;
    /* padding: 10px 32px; */
}

.abouUs table{
     border-collapse:collapse;
     margin-left: 25px;  
}

.addButton {
    padding: 10px 40px;
    border:none;
    border-radius: 18px;
    background-color: #3751FF;
    color: white;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    left: 990px; 
    margin: 10px;
}

.editButton{
    padding: 10px 20px;
    border:none;
    border-radius: 18px;
    background-color: #363740;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin: 10px;
}

.deleteButton{
    padding: 10px 20px;
    border:none;
    border-radius: 18px;
    background-color: #ff4e4e;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin: 10px; 
}

