.feedback input{
    border: none!important;
    font-size: 15px;
    margin: 0;
}

textarea{
    border: none;
    resize: none;
    font-size: 15px;
}

.feedback h2{
    margin-left: 25px!important;
    font-size: 25px;
    margin-top: 10px!important;
    color:#363740!important;
}

.mainFeedbacks{
    display: flex;
}
.background{
    background-color:#363740;
    color: white;
    padding: 10px;
}

.feedback th{
    border: 1px solid black;
}
.feedback td{
    border: 1px solid black;
     padding: 0;
     padding-left: 7px ;
     padding-right: 7px;
   
}

.feedback table{
     border-collapse:collapse;
     margin-left: 25px;  
 
}

/* .addButton {
    padding: 10px 40px;
    border:none;
    border-radius: 18px;
    background-color: #3751FF;
    color: white;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    left: 990px; 
    margin: 10px;
} */


.editButton{
    padding: 10px 20px;
    border:none;
    border-radius: 18px;
    background-color: #363740;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin: 10px;
}

.saveButton{
    padding: 10px 20px;
    border:none;
    border-radius: 18px;
    background-color: #51ba4f;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin: 10px;
}

.saveButton:hover{
    background-color: #3751FF;
    cursor: pointer;
}

.deleteButton{
    padding: 10px 20px;
    border:none;
    border-radius: 18px;
    background-color: #ff4e4e;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin: 10px; 
}

.editButton:hover{
    background-color: #3751FF;
    cursor: pointer;
}

.deleteButton:hover{
    background-color: #3751FF;
    cursor: pointer;
}

