@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.buttons{
    display: flex;
    align-items: center;
}

.containerContacts{
    display: flex; 
}

.mainContacts{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.mainContacts input{
    font-size: 15px;
    margin-bottom: 10px;
    border: none;
}

.contacts{
    border: 1px solid black;
    width: 318px;
    margin: 5px;
    margin-right: 50px;
    border-radius: 10px;
    text-align: center;
    font-family: "Roboto";
    padding: 20px;
}

.contacts img{
    width: 20px;
    position: absolute;
    left: 550px;  
}

.contacts img:hover{
    cursor: pointer;
}

.contacts:hover{
    color: blue;
    border: 1px solid blue;
    
}

.containerContacts h4{
    margin: 0;
    margin-left: 25px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.editButton{
    padding: 10px 20px;
    border:none;
    border-radius: 18px;
    background-color: #363740;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin: 10px;
    margin-left: 554px;
    margin-top: 30px;
}
.editButton:hover{
    background-color: #3751FF;
    cursor: pointer;
}

.saveButton{
    padding: 10px 20px;
    border:none;
    border-radius: 18px;
    background-color: #51ba4f;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin: 10px;
}

.saveButton:hover{
    background-color: #3751FF;
    cursor: pointer;
}

.deleteButton:hover{
    background-color: #3751FF;
    cursor: pointer;
}

.deleteButton{
    padding: 10px 20px;
    border:none;
    border-radius: 18px;
    background-color: #ff4e4e;
    color: white;
    font-weight: 700;
    font-size: 14px;
    margin: 10px; 
}


