.novelties{
    width: 1200px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;

}

.noveltiesNavbar {
    display: flex;
    margin-top: 90px;
    
}

h2{
    font-size: 25px;
    color:#254F4C;
    font-weight: 900;
    margin-right: 164px;
}

nav, ul, a, select {
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    color: #1D3130;
    line-height: 18px;
    margin-right: 60px;
    border:none
}

.noveltiesBurger {
    text-decoration: underline;
    color:red;
}

.noveltiesMenu {
    display: flex;
    margin-top: 90px;
}



h3 {
  
    color:white;
    text-align: center;
}

.novelties p {
    color:white;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin: 10px 16px 10px 16px;
    line-height: 15px;
}


.cheeseburger1, .cheeseburger2, .cheeseburger3, .cheeseburger4 {
    width: 265px;
    height: 350px;
    background-color: #2B4241;
    margin-right: 35px;
    border-radius: 30px;

}

.btn2 {
    padding: 13px 60px;
    color: white;
    border: 1px solid #FF583E;
    background-color: #FF583E;
    border-radius: 30px;
    font-size: 14px;
    margin-left: 35px;
    margin-top: 30px;
}

.burger1, .burger2, .burger3, .burger4{
    margin-left: 35px;
    margin-top: -50px;
    height: 140px;
}