.logo{
    margin-left: 20px;
}


 .footer{
    display: flex;
    align-items: center;
    height: 152px;
    justify-content: center; 
    margin-top: 50px;
}

.delivery:hover{
    color:#FF583E;
}

.main:hover{
    color:#FF583E;
}

.contacts:hover{
    color:#FF583E;
}

.footer  li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    color: white;
}
.footer ul  {
    margin-left: 260px;
    margin: 0;
}

.footer nav{
    margin-left: 330px;
}

.footer ul{
     /* margin: 0; */
 }
.phone{
    display: flex;
    align-items:center;
    /* justify-content: center; */
  
}

.phone img{
    margin-right: 8px;
}

.phone p{
    padding: 0;
    margin: 0;
}

.footer{
    display: flex;
    justify-content: center;
}