.slick-prev:before, .slick-next:before {
    color: #000000!important;
}

.slick-next {
    right: 0px;
}

.slick-prev {
    left: -45px;
}

.btn-primary {
    color: #fff;
    background-color: #363740;
    border-color: #363740;
}

.btn-check:focus+.btn-primary, .btn-primary:focus{
    color: #fff;
    background-color: #363740;
    border-color: #363740;
}

.btn{
    border-radius: 9.25rem;
}

