@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.pizza{
    display: flex;
    flex-wrap: wrap;
}
.margarita{
    border: none;
    border-bottom: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    width: 264px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 40px;
    margin-top: 100px;
    margin-right: 32px;
}

.price{
    font-family: 'Roboto', sans-serif;;
    font-size: 20px;
    color: #254F4C;
}
.pizzaPic{
    margin-top: -75px;
}
.recipe{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    margin: 15px;
 /*   height: 39px;*/
}
/*.button{
    background-color: #254F4C;
    border-radius: 40px;
    color: white;
    font-family: 'Roboto';
    font-size: 14px;
}*/
.noveltiesBurger {
    text-decoration: underline;
    color:red;
}
.novelties{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    width: 1200px;

}
.noveltiesNavbar {
    display: flex;
}
.menu{
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    color: #1D3130;
    line-height: 18px;
    margin-right: 30px;
}
.navbar a:hover{
    color:red;
}
.countBtn{
     display: flex;
     color:#317631;
     font-size: 25px;
}

.countBtn1{
    margin-left: 100px;
}
.countBtn1, .countBtn2{
    color:red;
    border:none;
    font-size: 20px;
    background: #FCFCFC;

}
.basketBtn {
    padding: 13px 60px;
    color: white;
    border: 1px solid #FF583E;
    background-color: #FF583E;
    border-radius: 30px;
    font-size: 14px;
    margin-left: 8px;
    margin-top: 28px;
}

.mainMenu{
    width: 1400px;
    margin: 0 auto;
}
.display{
    display: flex;
    flex-wrap: wrap;
}
.bord{
    width: 1400px;
}
.divBord{
    border: 1px solid #254F4C;
    background-color: #254F4C;
    border-radius: 20px;
    padding: 20px;
    width: 598px;
    height: 215px;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    display: flex;
}
.deliveriImg{
    border-radius: 30px;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.delivery{
    font-size: 38px;
    padding-left: 20px;
    font-family: "Roboto";
    color: black;
}
.deliveryh1{
    color: #254f4c;
    font-size: 55px;
    margin-bottom: 0;
    padding-top: 40px;
}
.deliveryP{
    color: #254f4c;
    font-size: 25px;
    margin: 0 auto;
}
.pizzaMap{
    width: 1200px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.deliveryService{
    margin-left: 80px;
    font-family: "Roboto";
}
.delivery2{
    font-size: 23px;
    color: #FF583E;
}
